{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<a href="{{ path('app_trajet_new') }}" class="btn btn-primary">Ajouter un trajet</a>
				<a href="{{ path('app_reservation_index') }}" class="btn btn-primary">Consulter mes réservations</a>
			</div>
			<div class="col-md-6">
				<table class="table">
					<thead>
						<tr>
							<th>Départ</th>
							<th>Arrivée</th>
							<th>Nombre de Places</th>
							<th>État</th>
							<th>Conducteur</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for trajet in trajets %}
							<tr>
								<td>{{ trajet.depart }}</td>
								<td>{{ trajet.arrivee }}</td>
								<td>{{ trajet.nbPlaces }}</td>
								<td>{{ trajet.etat ? 'Actif' : 'Inactif' }}</td>
								<td>{{ trajet.conducteur }}</td>
                                <form action="{{ path('app_reservation_confirm_new')}}" method="post">
                                    <input type="hidden" name="id_trajet" value="{{ trajet.id }}">
                                    <td>
                                        <button type="submit" class="btn btn-primary">Réserver</button>
                                    </td>
                                </form>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
